@model DVPRO.DATA.EF.Models.Vendor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vendor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VendorId" />
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorContact" class="control-label"></label>
                <input asp-for="VendorContact" class="form-control" />
                <span asp-validation-for="VendorContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorPhone" class="control-label"></label>
                <input asp-for="VendorPhone" class="form-control" />
                <span asp-validation-for="VendorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorEmail" class="control-label"></label>
                <input asp-for="VendorEmail" class="form-control" />
                <span asp-validation-for="VendorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorAddress" class="control-label"></label>
                <input asp-for="VendorAddress" class="form-control" />
                <span asp-validation-for="VendorAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorCity" class="control-label"></label>
                <input asp-for="VendorCity" class="form-control" />
                <span asp-validation-for="VendorCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorState" class="control-label"></label>
                <input asp-for="VendorState" class="form-control" />
                <span asp-validation-for="VendorState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorPostalCode" class="control-label"></label>
                <input asp-for="VendorPostalCode" class="form-control" />
                <span asp-validation-for="VendorPostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
