@model DVPRO.DATA.EF.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Customer</h1>

<h4>Create Customer</h4>
<hr />
<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <div class="row mt-2">
                <div class="form-group col-md-4">
                    <label asp-for="ContactName" class="control-label"></label>
                    <input asp-for="ContactName" class="form-control" />
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ContactPhone" class="control-label"></label>
                    <input asp-for="ContactPhone" class="form-control" />
                    <span asp-validation-for="ContactPhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ContactEmail" class="control-label"></label>
                    <input asp-for="ContactEmail" class="form-control" />
                    <span asp-validation-for="ContactEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group col-md-8">
                    <label asp-for="BillingAddress" class="control-label"></label>
                    <input asp-for="BillingAddress" class="form-control" />
                    <span asp-validation-for="BillingAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="BillingCity" class="control-label"></label>
                    <input asp-for="BillingCity" class="form-control" />
                    <span asp-validation-for="BillingCity" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group col-md-4">
                    <label asp-for="BillingState" class="control-label"></label>
                    <input asp-for="BillingState" class="form-control" />
                    <span asp-validation-for="BillingState" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="BillingPostalCode" class="control-label"></label>
                    <input asp-for="BillingPostalCode" class="form-control" />
                    <span asp-validation-for="BillingPostalCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Country" class="control-label"></label>
                    <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId"></select>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-primary offset-1" asp-action="Index">Back to List</a>
                </div>
            </div>



        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
