@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-page">
    <div class="atomic-info-card">
        <p>
            Welcome to our administrative intranet application that will allow authorized staff to manage company
            records. To access our database, navigate to the Login or Register links and join our team.
        </p>
    </div>
</div>
